.App {
  text-align: center;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}


.w-fsfsg {
  width: calc(100% - 60px);
 margin-left:60px;

}

.glow {
  background: rgb(142, 85, 248);
}

.glow:hover {
  background: rgb(125, 61, 245);
}

.direction-ltr {
  direction: ltr;
}

.me {
  top: 10px;
  direction: ltr;

  display: flex;
  justify-content: end;
}

.him {
  top: 10px;
  direction: ltr;

  display: flex;
  justify-content: start;
}

.text-5xs {
  font-size: 8px;
}

.maxw{
  max-width:40%;
}
.maxw video{
  width:100%;
  height:100%;
}
.trans-4{
  border-radius:50%;
  transition:0.2s;
}
.trans-4:hover{
  border-radius:10px;
  transition:0.2s;
}
.active{
  border-radius:15px;
  background: rgb(22 163 74);
  color: #fff;
}
body{
  background: #253247;
}

.show{
  transform:translateX(0%) !important;
}
.hide{
  transform: translateX(-110%) !important;
}

.w-fafaf{
  width: calc(100% - 60px);
  margin-left:60px;
}

@media (max-width:1000px) {
  .maxw{
    max-width:60%;
  }
  .maxw video{
    width:100%;
    height:100%;
  }
}
@media (max-width:730px) {
  .maxw{
    max-width:70%;
  }
  .maxw video{
    width:100%;
    height:100%;
  }
}

@media (max-width:430px) {
  .maxw{
    max-width:80%;
  }
  .maxw video{
    width:100%;
    height:100%;
  }
}

